*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#bucket{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;    border-radius: 10px;
    border-radius: 10px;
}

.card >p{
    text-align: center;
    line-height: 25px;
}
.image{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#remove_coffee{
    padding: 10px;
    font-size: 18px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid;
}
#remove_coffee:hover{
    cursor: pointer;
    background-color: red;
}
#total_amount{
    font-size: 40px;
    margin-top:40px;
    margin-left: 40px;
}
#confirm_checkout{
   padding: 20px;
   font-size: 18px;
   display: block;
   margin: auto;
   margin-top:20px;
   margin-bottom:30px ;
   border-radius: 10px;
   background-color: green;
}



#confirm_checkout:hover{
    background-color:rgb(60, 132, 60);
    cursor: pointer;
}